:root {
    --letter-border: #3a3a3c;
    --absent: #3a3a3c;
    --present: #b59f3b;
    --correct: #538d4e;
    --button: #818384;
    --letter-width: 80px;
    --letter-border-width: 2px;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    text-align: center;
    background-color: #121213;
    color: white;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 80px;
}

#search {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#search .search-display-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#search .wordle-search-display {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#search .wordle-search-display.selected {
    background-color: rgb(58, 58, 60, .5);
}

#search input {
    display: none;
}

@media (max-width: 500px) {
    #search input {
        display: block;
        font-size: 1rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        border: var(--letter-border-width) solid var(--letter-border);
        color: white;
    }

    #search input:focus {
        outline: none;
        border-color: var(--button);
    }
}

#search .wordle-search-display > div {
    width: 16vw;
    height: 16vw;
    max-width: calc(var(--letter-width));
    max-height: calc(var(--letter-width));
    border: none;
    box-sizing: border-box;
    background-color: var(--absent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#search .wordle-search-display > div:empty {
    border: var(--letter-border-width) solid var(--letter-border);
    background-color: var(--absent);
    background-color: rgba(0, 0, 0, 0);
}

#search .wordle-search-display > div.present {
    background-color: var(--present);
}

#search .wordle-search-display > div.correct {
    background-color: var(--correct);
}

#search .add-remove button {
    padding: 10px;
    font-size: 1.6rem;
}

#search .add-remove button:disabled {
    background-color: var(--absent);
    cursor: default;
    color: rgba(255,255,255,.6);
}

#search .error {
    color: maroon;
    visibility: hidden;
}

#search .buttons {
    display: flex;
    gap: 10px;
}

#search button, #about {
    background-color: var(--button);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px;
    cursor: pointer;
    font-size: large;
}

#about {
    font-weight: bold;
}

#results {
    visibility: hidden;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results h2 {
    font-size: 2rem;
}

#results ul {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    list-style: none;
    width: min-content;
}

#results li {
    width: max-content;
}

#modal-container {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    padding: 0 40px;
    box-sizing: border-box;
}

#modal {
    max-width: 400px;
    background-color: var(--absent);
    border-radius: 5px;
    padding: 20px 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#modal h2 {
    margin: 0;
}

a {
    color: white;
}